* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

.outer-div {
  background: black;
  padding: 20px;
  border-bottom: solid white 0.2px;
}
.inner-div {
  background: red;
  margin-left: 220px;
  margin-right: 220px;
  display: flex;
  justify-content: space-between;
}

.imageAndLogo {
  display: flex;
  justify-content: space-between;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Logo-heading {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.div-one {
  background: green;
  display: flex;
}
.div-two {
  background: pink;
}
